<a href="https://colab.research.google.com/github/danlamberg/DS_AprenzidadoMaqSupervisionado/blob/main/Aprendizado_de_M%C3%A1quina_Supervisionado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ALUNO: DANIEL DE OLIVEIRA LAMBERG

ALUNO: DIOGO VARONI DE MOURA

RM: 12210919

RM: 13135759

TURMA: Data Science - Osório Sala 404 - QUA - 19:00 - 21:40

Os dados foram extraídos do site do Kaggle: [Indicadores de doença do coração](https://www.kaggle.com/code/gustavolenin/indicadores-de-doen-a-do-cora-o/data)

ATRIBUTOS DO DATAFRAME

Heart Disease: Doença cardíaca

BMI: IMC

Smoking: Fuma

Alcohol Drinking: Bebe

Stroke: Derrame

Physical Health: Saúde Física

Mental Health: Saúde Mental

Diff Walking: Caminhada Diferente

Sex: Sexo

Age Category: Idade Categoria

Race: Raça

Diabetic: Diabético

Physical Activity: Atividade Física

GenHealth:

Sleep Time: Hora de Sono

Asthma: Asma

Kidney Disease: Doenca Renal

Skin Cancer: Câncer de Pele

Importando Pandas e bibliotecas:

In [78]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore", category=FutureWarning)


sns.set()

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [79]:
df = pd.read_csv('/content/drive/MyDrive/BSI/DATA SCIENCE/Colab Notebooks/TRABALHOS 2ºB/Atividade II/heart_2020_cleaned.csv',
                    sep=';', encoding='utf-8')

Visualizando o que está no Data Frame, visualização das primeiras linhas:

In [80]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

 Transpondo o índice e as colunas:

In [81]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,319785,319786,319787,319788,319789,319790,319791,319792,319793,319794
HeartDisease,No,No,No,No,No,Yes,No,No,No,No,...,No,Yes,No,No,No,Yes,No,No,No,No
BMI,16.6,20.34,26.58,24.21,23.71,28.87,21.63,31.64,26.45,40.69,...,31.93,33.2,36.54,23.38,22.22,27.41,29.84,24.24,32.81,46.56
Smoking,Yes,No,Yes,No,No,Yes,No,Yes,No,No,...,No,Yes,No,No,No,Yes,Yes,No,No,No
AlcoholDrinking,No,No,No,No,No,No,No,No,No,No,...,Yes,No,No,No,No,No,No,No,No,No
Stroke,No,Yes,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
PhysicalHealth,3.0,0.0,20.0,0.0,28.0,6.0,15.0,5.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0
MentalHealth,30.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DiffWalking,No,No,No,No,Yes,Yes,No,Yes,No,Yes,...,No,No,No,No,No,Yes,No,No,No,No
Sex,Female,Female,Male,Female,Female,Female,Female,Female,Female,Male,...,Male,Female,Male,Female,Female,Male,Male,Female,Female,Female
AgeCategory,55-59,80 or older,65-69,75-79,40-44,75-79,70-74,80 or older,80 or older,65-69,...,65-69,60-64,30-34,60-64,18-24,60-64,35-39,45-49,25-29,80 or older
Race,White,White,White,White,White,Black,White,White,White,White,...,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic
Diabetic,Yes,No,Yes,No,No,No,No,Yes,"No, borderline diabetes",No,...,No,Yes,No,No,No,Yes,No,No,No,No
PhysicalActivity,Yes,Yes,Yes,No,Yes,No,Yes,No,No,Yes,...,Yes,Yes,No,Yes,Yes,No,Yes,Yes,No,Yes
GenHealth,Very good,Very good,Fair,Good,Very good,Fair,Fair,Good,Fair,Good,...,Good,Very good,Good,Excellent,Excellent,Fair,Very good,Good,Good,Good
SleepTime,5.0,7.0,8.0,6.0,8.0,12.0,4.0,9.0,5.0,10.0,...,7.0,8.0,9.0,6.0,8.0,6.0,5.0,6.0,12.0,8.0
Asthma,Yes,No,Yes,No,No,No,Yes,Yes,No,No,...,No,Yes,No,No,No,Yes,Yes,No,No,No
KidneyDisease,No,No,No,No,No,No,No,No,Yes,No,...,No,No,No,No,No,No,No,No,No,No
SkinCancer,Yes,No,No,Yes,No,No,Yes,No,No,No,...,No,No,No,No,No,No,No,No,No,No

Obtendo um resumo conciso do dataframe:

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

Retornando o número de valores ausentes para cada coluna:

In [83]:
df.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

Análise dos tipos de atributos:

In [84]:
df.dtypes

HeartDisease         object
BMI                 float64
Smoking              object
AlcoholDrinking      object
Stroke               object
PhysicalHealth      float64
MentalHealth        float64
DiffWalking          object
Sex                  object
AgeCategory          object
Race                 object
Diabetic             object
PhysicalActivity     object
GenHealth            object
SleepTime           float64
Asthma               object
KidneyDisease        object
SkinCancer           object
dtype: object

Retornando linhas e colunas:

In [85]:
df.shape

(319795, 18)

## Árvores de Decisão

Transformando as variáveis categóricas nominais em variáveis categóricas ordinais:

In [86]:
df = pd.DataFrame.copy(df)

In [87]:
df['HeartDisease'].replace({'No':0, 'Yes': 1}, inplace=True)
df['Smoking'].replace({'No':0, 'Yes': 1}, inplace=True)
df['AlcoholDrinking'].replace({'No':0, 'Yes': 1}, inplace=True)
df['Stroke'].replace({'No':0, 'Yes': 1}, inplace=True)
df['Sex'].replace({'Female':0, 'Male': 1}, inplace=True)
df['PhysicalActivity'].replace({'No':0, 'Yes': 1}, inplace=True)

Visualizando os tipos do DataFrame:

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  int64
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  int64
 3   AlcoholDrinking   319795 non-null  int64
 4   Stroke            319795 non-null  int64
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  int64
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  int64
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), int64(6), object(8)
memory usage: 43.9+ MB

*Verificado que uma das colunas de interesse, a coluna **"Diabetic"** será necessário transforma-la em inteiro:*

Com isso, será necessário importar o OneHotEnconder, que transforma os dados:

In [90]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [91]:
encoder = OneHotEncoder()
oneHotEncoder = encoder.fit_transform(df[['Diabetic']])

In [92]:
oneHotEncoder.todense()

matrix([[0., 0., 1., 0.],
        [1., 0., 0., 0.],
        [0., 0., 1., 0.],
        ...,
        [1., 0., 0., 0.],
        [1., 0., 0., 0.],
        [1., 0., 0., 0.]])

In [95]:
oneHotEncoder.shape

(319795, 4)

In [96]:
nome_colunas = encoder.get_feature_names(['Diabetic'])
df_encoder = pd.DataFrame(oneHotEncoder.todense(), columns= nome_colunas)
df_encoder

,Diabetic_No,"Diabetic_No, borderline diabetes",Diabetic_Yes,Diabetic_Yes (during pregnancy)
0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0
...,...,...,...,...
319790,0.0,0.0,1.0,0.0
319791,1.0,0.0,0.0,0.0
319792,1.0,0.0,0.0,0.0
319793,1.0,0.0,0.0,0.0
319794,1.0,0.0,0.0,0.0

In [99]:
df = pd.concat([df, df_encoder], axis=1).drop(['Diabetic'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 21 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   HeartDisease                      319795 non-null  int64
 1   BMI                               319795 non-null  float64
 2   Smoking                           319795 non-null  int64
 3   AlcoholDrinking                   319795 non-null  int64
 4   Stroke                            319795 non-null  int64
 5   PhysicalHealth                    319795 non-null  float64
 6   MentalHealth                      319795 non-null  float64
 7   DiffWalking                       319795 non-null  object
 8   Sex                               319795 non-null  int64
 9   AgeCategory                       319795 non-null  object
 10  Race                              319795 non-null  object
 11  PhysicalActivity                  319795 non-null  int64
 12  GenHealth                         319795 non-null  object
 13  SleepTime                         319795 non-null  float64
 14  Asthma                            319795 non-null  object
 15  KidneyDisease                     319795 non-null  object
 16  SkinCancer                        319795 non-null  object
 17  Diabetic_No                       319795 non-null  float64
 18  Diabetic_No, borderline diabetes  319795 non-null  float64
 19  Diabetic_Yes                      319795 non-null  float64
 20  Diabetic_Yes (during pregnancy)   319795 non-null  float64
dtypes: float64(8), int64(6), object(7)
memory usage: 51.2+ MB

Retorna as primeiras linhas do DataFrame:

In [100]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,...,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,Diabetic_No,"Diabetic_No, borderline diabetes",Diabetic_Yes,Diabetic_Yes (during pregnancy)
0,0,16.60,1,0,0,3.0,30.0,No,0,55-59,...,1,Very good,5.0,Yes,No,Yes,0.0,0.0,1.0,0.0
1,0,20.34,0,0,1,0.0,0.0,No,0,80 or older,...,1,Very good,7.0,No,No,No,1.0,0.0,0.0,0.0
2,0,26.58,1,0,0,20.0,30.0,No,1,65-69,...,1,Fair,8.0,Yes,No,No,0.0,0.0,1.0,0.0
3,0,24.21,0,0,0,0.0,0.0,No,0,75-79,...,0,Good,6.0,No,No,Yes,1.0,0.0,0.0,0.0
4,0,23.71,0,0,0,28.0,0.0,Yes,0,40-44,...,1,Very good,8.0,No,No,No,1.0,0.0,0.0,0.0

Retornando os tipos do DataFrame:

In [101]:
df.dtypes

HeartDisease                          int64
BMI                                 float64
Smoking                               int64
AlcoholDrinking                       int64
Stroke                                int64
PhysicalHealth                      float64
MentalHealth                        float64
DiffWalking                          object
Sex                                   int64
AgeCategory                          object
Race                                 object
PhysicalActivity                      int64
GenHealth                            object
SleepTime                           float64
Asthma                               object
KidneyDisease                        object
SkinCancer                           object
Diabetic_No                         float64
Diabetic_No, borderline diabetes    float64
Diabetic_Yes                        float64
Diabetic_Yes (during pregnancy)     float64
dtype: object

In [102]:
df.shape

(319795, 21)

*Atributos Previsores e Alvo*

In [103]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,...,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,Diabetic_No,"Diabetic_No, borderline diabetes",Diabetic_Yes,Diabetic_Yes (during pregnancy)
0,0,16.60,1,0,0,3.0,30.0,No,0,55-59,...,1,Very good,5.0,Yes,No,Yes,0.0,0.0,1.0,0.0
1,0,20.34,0,0,1,0.0,0.0,No,0,80 or older,...,1,Very good,7.0,No,No,No,1.0,0.0,0.0,0.0
2,0,26.58,1,0,0,20.0,30.0,No,1,65-69,...,1,Fair,8.0,Yes,No,No,0.0,0.0,1.0,0.0
3,0,24.21,0,0,0,0.0,0.0,No,0,75-79,...,0,Good,6.0,No,No,Yes,1.0,0.0,0.0,0.0
4,0,23.71,0,0,0,28.0,0.0,Yes,0,40-44,...,1,Very good,8.0,No,No,No,1.0,0.0,0.0,0.0

In [104]:
previsores = df.iloc[:, 0:11].values

In [105]:
previsores

array([[0, 16.6, 1, ..., 0, '55-59', 'White'],
       [0, 20.34, 0, ..., 0, '80 or older', 'White'],
       [0, 26.58, 1, ..., 1, '65-69', 'White'],
       ...,
       [0, 24.24, 0, ..., 0, '45-49', 'Hispanic'],
       [0, 32.81, 0, ..., 0, '25-29', 'Hispanic'],
       [0, 46.56, 0, ..., 0, '80 or older', 'Hispanic']], dtype=object)

In [106]:
previsores.shape

(319795, 11)

In [107]:
alvo = df.iloc[:, 11].values

In [108]:
alvo

array([1, 1, 1, ..., 1, 0, 1])

In [109]:
alvo.shape

(319795,)

*Escalonamento*

Padronização (utiliza a média e o desvio padrão como referência).

In [110]:
df.describe()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,Sex,PhysicalActivity,SleepTime,Diabetic_No,"Diabetic_No, borderline diabetes",Diabetic_Yes,Diabetic_Yes (during pregnancy)
count,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.00000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000,319795.000000
mean,0.085595,28.325399,0.412477,0.068097,0.037740,3.37171,3.898366,0.475273,0.775362,7.097075,0.843206,0.021204,0.127588,0.008002
std,0.279766,6.356100,0.492281,0.251912,0.190567,7.95085,7.955235,0.499389,0.417344,1.436007,0.363607,0.144065,0.333631,0.089095
min,0.000000,12.020000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,24.030000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,6.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,27.340000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,7.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,31.420000,1.000000,0.000000,0.000000,2.00000,3.000000,1.000000,1.000000,8.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,94.850000,1.000000,1.000000,1.000000,30.00000,30.000000,1.000000,1.000000,24.000000,1.000000,1.000000,1.000000,1.000000

Deletando colunas que contenham strings:

In [111]:
df.drop(columns={'DiffWalking'}, inplace=True)
df.drop(columns={'Race'}, inplace=True)
df.drop(columns={'GenHealth'}, inplace=True)
df.drop(columns={'Asthma'}, inplace=True)
df.drop(columns={'KidneyDisease'}, inplace=True)
df.drop(columns={'SkinCancer'}, inplace=True)
df.drop(columns={'AgeCategory'}, inplace=True)

In [112]:
df.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,Sex,PhysicalActivity,SleepTime,Diabetic_No,"Diabetic_No, borderline diabetes",Diabetic_Yes,Diabetic_Yes (during pregnancy)
0,0,16.60,1,0,0,3.0,30.0,0,1,5.0,0.0,0.0,1.0,0.0
1,0,20.34,0,0,1,0.0,0.0,0,1,7.0,1.0,0.0,0.0,0.0
2,0,26.58,1,0,0,20.0,30.0,1,1,8.0,0.0,0.0,1.0,0.0
3,0,24.21,0,0,0,0.0,0.0,0,0,6.0,1.0,0.0,0.0,0.0
4,0,23.71,0,0,0,28.0,0.0,0,1,8.0,1.0,0.0,0.0,0.0

Importando StandardScaler, método de padronização de dados, de modo que o recurso transformado tenha média 0 e um desvio padrão de 1:

In [114]:
df.dtypes

HeartDisease                          int64
BMI                                 float64
Smoking                               int64
AlcoholDrinking                       int64
Stroke                                int64
PhysicalHealth                      float64
MentalHealth                        float64
Sex                                   int64
PhysicalActivity                      int64
SleepTime                           float64
Diabetic_No                         float64
Diabetic_No, borderline diabetes    float64
Diabetic_Yes                        float64
Diabetic_Yes (during pregnancy)     float64
dtype: object

In [113]:
from sklearn.preprocessing import StandardScaler

In [115]:
previsores_esc = StandardScaler().fit_transform(previsores)

ValueError: ignored

# AULA 12 - Transformando as variáveis categóricas nominais em variáveis categóricas ordinais

LabelEncoder: transformação de variáveis categóricas em numéricas

In [ ]:
df2 = pd.DataFrame.copy(df)

In [ ]:
df2['HeartDisease'].replace({'No':0, 'Yes': 1}, inplace=True)
df2['Smoking'].replace({'No':0, 'Yes': 1}, inplace=True)
df2['AlcoholDrinking'].replace({'No':0, 'Yes': 1}, inplace=True)
df2['Stroke'].replace({'No':0, 'Yes': 1}, inplace=True)
df2['Sex'].replace({'Female':0, 'Male': 1}, inplace=True)
df2['PhysicalActivity'].replace({'No':0, 'Yes': 1}, inplace=True)
df2['PhysicalActivity'].replace({'No':0, 'Yes': 1}, inplace=True)

In [ ]:
df2.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,No,0,55-59,0,Yes,Yes,Very good,5.0,Yes,No,Yes
1,0,20.34,0,0,1,0.0,0.0,No,0,80 or older,0,No,Yes,Very good,7.0,No,No,No
2,0,26.58,1,0,0,20.0,30.0,No,1,65-69,0,Yes,Yes,Fair,8.0,Yes,No,No
3,0,24.21,0,0,0,0.0,0.0,No,0,75-79,0,No,No,Good,6.0,No,No,Yes
4,0,23.71,0,0,0,28.0,0.0,Yes,0,40-44,0,No,Yes,Very good,8.0,No,No,No

In [ ]:
df2.dtypes

HeartDisease          int64
BMI                 float64
Smoking               int64
AlcoholDrinking       int64
Stroke                int64
PhysicalHealth      float64
MentalHealth        float64
DiffWalking          object
Sex                   int64
AgeCategory          object
Race                  int64
Diabetic             object
PhysicalActivity     object
GenHealth            object
SleepTime           float64
Asthma               object
KidneyDisease        object
SkinCancer           object
dtype: object

In [ ]:
df2.shape

(319795, 18)

# Criação de variáveis Dummy: OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
encoder = OneHotEncoder()
oneHotEncoder = encoder.fit_transform(df[['Race']])

In [ ]:
oneHotEncoder.todense()

matrix([[0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 0., 1.],
        ...,
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 1., 0., 0.]])

In [ ]:
oneHotEncoder.shape

(319795, 6)

In [ ]:
nome_colunas = encoder.get_feature_names(['Race'])
df3_encoder = pd.DataFrame(oneHotEncoder.todense(), columns= nome_colunas)
df3_encoder

,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White
0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
319790,0.0,0.0,0.0,1.0,0.0,0.0
319791,0.0,0.0,0.0,1.0,0.0,0.0
319792,0.0,0.0,0.0,1.0,0.0,0.0
319793,0.0,0.0,0.0,1.0,0.0,0.0
319794,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
df3 = pd.concat([df, df3_encoder], axis=1).drop(['Race'], axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   HeartDisease                         319795 non-null  object
 1   BMI                                  319795 non-null  float64
 2   Smoking                              319795 non-null  object
 3   AlcoholDrinking                      319795 non-null  object
 4   Stroke                               319795 non-null  object
 5   PhysicalHealth                       319795 non-null  float64
 6   MentalHealth                         319795 non-null  float64
 7   DiffWalking                          319795 non-null  object
 8   Sex                                  319795 non-null  object
 9   AgeCategory                          319795 non-null  object
 10  Diabetic                             319795 non-null  object
 11  PhysicalActivity                     319795 non-null  object
 12  GenHealth                            319795 non-null  object
 13  SleepTime                            319795 non-null  float64
 14  Asthma                               319795 non-null  object
 15  KidneyDisease                        319795 non-null  object
 16  SkinCancer                           319795 non-null  object
 17  Race_American Indian/Alaskan Native  319795 non-null  float64
 18  Race_Asian                           319795 non-null  float64
 19  Race_Black                           319795 non-null  float64
 20  Race_Hispanic                        319795 non-null  float64
 21  Race_Other                           319795 non-null  float64
 22  Race_White                           319795 non-null  float64
dtypes: float64(10), object(13)
memory usage: 56.1+ MB